<div *ngIf="!NewCardStete" class="main-content ">
    <app-pm-container [currentCardId]="currentCard" (currentPaymentMethod$)="currentPMChange($event)">
    </app-pm-container>
</div>
<div class=" frame-bottom   ">
    <div class="  container ">

    </div>
    <div class="  ">
        <app-navigation-bar (onAddEvent)="AddNewCard()" [disableAddButton]="NewCardStete" Tooltip="Add new Card"></app-navigation-bar>

    </div>
</div>
<div *ngIf="NewCardStete" class="main-content ">
    <app-add-credit-card (onAddEvent)="addCardEvent($event)"></app-add-credit-card>

</div>