<div>

    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="gappx">
    </div>

    <button mat-fab class="p-2"> <a class="p-2" routerLink="/home"
            routerLinkActive="active"><mat-icon>home</mat-icon></a></button>
    <button mat-fab class="p-2"> <a class="  p-2 " routerLink="/about"
            routerLinkActive="active"><mat-icon>wallet</mat-icon></a></button>
    <button mat-fab class="p-2"> <a class="  p-2 " routerLink="/contact"
            routerLinkActive="active"><mat-icon>refresh</mat-icon></a></button>
    <button mat-fab class="p-2"> <a class="  p-2 " routerLink="/contact"
            routerLinkActive="active"><mat-icon>settings</mat-icon></a></button>
</div>