<div class=" row  align-items-center container  ">

    <div class="d-flex align-items-center ">
        <div class="   col-10 ">
            <span class="user-name ">{{UserHeader$| async}}</span>
        </div>
        <div class="col-1"></div>
        <div class="col-1 ">
            <button mat-fab [mat-menu-trigger-for]="userMenu">
                <!-- <img [src]="UserImageUrl" alt="A" class="logo "> -->
                <mat-icon>more_vert</mat-icon>

            </button>
            <mat-menu #userMenu="matMenu">
                <button mat-menu-item disabled>User image</button>
                <mat-divider></mat-divider>
                <button mat-menu-item (click)="Logout()">Logout</button>
                <mat-divider></mat-divider>
                <button mat-menu-item (click)="About()">About</button>
            </mat-menu>

        </div>
    </div>
</div>