.logo {
    width: 20px;
    height: 30px;
}

.DropDown {
    position: absolute;
    border-radius: 6px;
    background-color: #a89a1e;
    margin: 5px;
    right: 10px;
    box-shadow: -1px 0px 2px 0px #443e0c48;
}

