<div class="main-canvas d-flex flex-column  align-items-center">

    <div class="flex-grow-1  flex-fill  "> </div>

    <div class="m-1 frame-bottom d-flex flex-column  align-items-center">
        <span class="text-title mb-4">Welcome </span>
        <div class="mat-col-frame d-flex mx-1 ">
            <div>
                <div class="frame-input  d-flex   flex-row my-2">
                    <mat-icon class=" " aria-hidden="false" aria-label="email" fontIcon="email"
                        matIconSuffix="matIconSuffix"></mat-icon>
                    <mat-label class=" " for="emailInput">Email</mat-label>
                    <input class="mat-input" id="emailInput" aria-label="Email" [(ngModel)]="userEmail"
                        matIconSuffix="matIconSuffix">
                </div>

                <div class="frame-input  d-flex  flex-row my-2 ">
                    <mat-icon class=" " aria-hidden="false" aria-label="password" fontIcon="password"
                        matIconSuffix="matIconSuffix"></mat-icon>
                    <mat-label class=" " for="emailInput">Password</mat-label>
                    <input class="mat-input" matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="Password">
                    <button class="mat-input" mat-icon-button matSuffix (click)="hide = !hide"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </div>
            </div>
            <div class="mat-col-frame">
                <a class="text-forget-password ms-auto ">Forget Password? </a>
            </div>
        </div>
        <div class="mat-col-frame d-flex my-2 ">
            <button mat-button class=" mat-flat-button mat-primary my-2" (click)="LogIn()"> Signe in </button>
        </div>
        <div class="mat-col-frame ">
            <div class="mat-col-frame  ">
                <mat-divider></mat-divider>
                <span class="text-title">or</span>
                <mat-divider></mat-divider>
            </div>
        </div>
        <div class="mat-col-frame mb-3">
            <img class="img-social" src="../../../assets/Media/logins.png" alt="facebook">
        </div>

    </div>
</div>