  .mat-input {
      padding: 5px;
      background: transparent;
      border: none;
      outline: none;
      margin-left: -80px;
      margin-right: 10px;
      width: -webkit-fill-available;
  }


  .text-forget-password {
      color: #616161;
      font-size: 12px;
      font-family: Inter;
      letter-spacing: 0%;
      text-decoration: none;
      font-weight: 600;
      text-align: left;
      text-wrap: nowrap;
      border: 1px solid #ffda6d;
  }


 