<mat-stepper #stepper>
    <mat-step [stepControl]="selectAmountFormGroup">
        <ng-template matStepLabel>Select top-up amount {{topupAmount | currency}}</ng-template>

        <mat-radio-group class="container row" [(ngModel)]="selectedAmount" (change)="onAmountChange($event.value)">
            <mat-radio-button *ngFor="let amount of topupAmounts" [value]="amount.value">{{ amount.value | currency
                }}</mat-radio-button>
            <mat-radio-button [value]="'custom'"> Enter custom amount <mat-form-field
                    *ngIf="selectedAmount === 'custom'" appearance="fill">

                    <mat-label>Enter custom amount</mat-label>
                    <input type="number" matInput [(ngModel)]="customAmountValue"
                        (ngModelChange)="onAmountChange($event)">
                </mat-form-field>
            </mat-radio-button>
        </mat-radio-group>
        <button [disabled]="topupAmount <= 0" mat-button matStepperNext>Next</button>
    </mat-step>

    <mat-step [stepControl]="selectPaymentFormGroup">
        <ng-template matStepLabel>Select payment method </ng-template>





        <mat-radio-group class="container row" [(ngModel)]="selectedPaymentMethod"
            (change)="onPaymentMethodChange($event.value)">
            <mat-accordion multi>
                <mat-expansion-panel hideToggle [expanded]="selectedPaymentMethod?.id !== 'new'"
                    (opened)="selectCardExpOpen($event)">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Select payment method
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="container row">
                        <mat-radio-button class=" " *ngFor="let mp of avilblePaymentMethods"
                            [value]="mp">{{mp.cardNumber }}
                            {{mp.cardExpire
                            }} {{mp.cardHolderName}}</mat-radio-button>
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel hideToggle [expanded]="selectedPaymentMethod === newPaymentMethid"
                    [disabled]="true" (opened)="newCardExpOpen($event)">
                    <mat-expansion-panel-header>
                        <mat-panel-description>
                            <mat-radio-button class="  full-width-radio" [value]="newPaymentMethid">
                                <div class=" mat-radio-label-content">Add new card</div>
                            </mat-radio-button>
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <app-add-credit-card (onAddEvent)="addCardEvent($event)"></app-add-credit-card>
                </mat-expansion-panel>
            </mat-accordion>

        </mat-radio-group>


        <button mat-button matStepperPrevious>Previous</button>
        <button [disabled]="selectedPaymentMethod == null || selectedPaymentMethod.id == 'new'  " mat-button
            matStepperNext>Next</button>
    </mat-step>

</mat-stepper>