<div class="  p-5 container  ">
    <div class=" align-items-center ">

        <div class="  p-5 card-container ">
            <app-pm-item [pmItem]="current$ | async"></app-pm-item>
           
        </div>


        <div>

            <button mat-fab class="carousel-control-prev" type="button" (click)="prev()">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button mat-fab class="carousel-control-next" type="button" (click)="next()">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>