<div *ngIf="!topupState" class="main-content ">
    <div class="  container ">
        <span>wallet is empty</span>

    </div>
</div>
<div class=" frame-bottom   ">
    <div class="  container ">
        <h1>wallet </h1>
    </div>
    <div class="  ">
        <app-navigation-bar (onAddEvent)="StartTopup()" [disableAddButton]="topupState"></app-navigation-bar>

    </div>
</div>
<div *ngIf="topupState" class="main-content ">
    <div class="  container ">
        <span>StartTopup</span>
    </div>

</div>